
.about-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: grey;
}

.mainframe {
	width: 65%;
}

.white {
	background-color: grey;
	color: whitesmoke;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}

.black {
	background-color: black;
	color: white;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;

}

@media only screen and (max-width: 600px){
	.white {
		flex-direction: column;
	}

	.first {
		order: 1;
	}	

	.second {
		order: 2;
	}

	.black {
		flex-direction: column;
	}
}


.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

